[user]
  name = Evan Rutledge Borden
  email = eborden@frontrowed.com
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ms = merge --squash
  cm = commit -m
[push]
  default = simple

[merge]
  renamelimit = 3000
[core]
	editor = nvim
	excludesfile = /home/eborden/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[mergetool]
	path = meld
[diff]
    tool = meld
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git\\@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git\\@github.com:/ghc/packages-"]
	insteadOf = git@github.com:/ghc/packages/
