[submodule ".vim/bundle/vim-stylish-haskell"]
	path = .vim/bundle/vim-stylish-haskell
	url = git@github.com:nbouscal/vim-stylish-haskell.git
[submodule ".vim/syntax/vim-syntax-vcl"]
	path = config/nvim/syntax/syntax/vim-syntax-vcl
	url = git@github.com:pld-linux/vim-syntax-vcl.git
[submodule "texpander"]
	path = texpander
	url = git@github.com:leehblue/texpander.git
[submodule ".vim/bundle/vim-github-hub"]
	path = .vim/bundle/vim-github-hub
	url = git@github.com:jez/vim-github-hub.git
[submodule ".vim/bundle/vim-hexcolor"]
	path = .vim/bundle/vim-hexcolor
	url = git@github.com:etdev/vim-hexcolor.git
[submodule ".vim/bundle/yesod-routes.vim"]
	path = .vim/bundle/yesod-routes.vim
	url = git@github.com:5outh/yesod-routes.vim.git
